.page {
  width: 100%;
  background-color: #000000;
  display: grid;
  justify-content: center;
  grid-template-columns: 68.91%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .page {
    grid-template-columns: 100%;
  }
}
