.popap__save-button {
  width: 358px;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-bottom: 36.51px;
  transition: .3s;
  outline: none;
}

.popap__save-button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
