.popap__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  height: 40.7px;
  width: 40.7px;
  background-color: transparent;
  background-image: url(../../../images/cross.svg);
  transform: background rotate(45deg);
  background-size: initial;
  background-position: center;
  border: none;
  transition: .3s;
  outline: none;
}

.popap__close-button:hover {
  background-image: url(../../../images/cross-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popap__close-button {
    background-image: url(../../../images/Close-Icon-mobile.svg);
    height: 30px;
    width: 30px;
    right: -30px;
    top: -30px;
  }
}
